{% trans_default_domain 'FOSUserBundle' %}
    <h1 class="text-center text-primary">Register</h1>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-success">Login</a>
</div>
{{ form_end(form) }}
