{% extends 'base.html.twig' %}

{% block body %}
    <h1>Voiture</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Immatricule</th>
                <td>{{ voiture.imatricule }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ voiture.model }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ voiture.marque }}</td>
            </tr>
            <tr>
                <th>Carburant</th>
                <td>{{ voiture.carburant }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voiture.prix }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('voiture_index') }}" class="btn btn-default">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('voiture_edit', { 'id': voiture.id }) }}" class="btn btn-primary">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
